/* keep chat input box --malc */
.chat-interface {
	display: block !important;
	background: black;
	margin-bottom: -111px;
}
.chat-room {
	margin-bottom: 111px;
}
.chat_text_input, .chat-interface, .chat-interface__submit {
	font-size: 2.4rem;
}
